*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Playfair Display', serif;    
}

.cabecalho {
    background-color: #6691d6;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-imagem {
    width: 20%;
}

.cabecalho-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.local-imagem{
    width: 25%;
}

header {
    background-color: #424E61;
    color: white;
}

.local{
    background-image: linear-gradient(#424E61,#16CFF8);
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.local-div-conteudo{
    width: 35%;
}

.local-titulo{
    padding: 24px 0;
}

.imagem-adoção {
    width: 120px;
}